*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   background-color: #12121C;
   font-family: DM Sans;
}
.container{
   width: 90%;
   margin: auto;
}
.navbar{
   height: 88px;
   display: flex;
   justify-content: space-between;

}
.logo{
   display: flex;
   align-items: center;
}
.logoText{
   color: #fff;
   font-size: 27px;
   margin-left: 8px;
}
.linksBox{
   display: flex;
   align-items: center;
}
.link{
   color: #88888D;
   font-size: 16px;
   text-decoration: none;
   margin-left: 40px;
   font-weight: bold;
}
.active{
   color: #fff;
   margin-left: 0;
}
.buttonNavbar{
   width: 140px;
   height: 48px;
   background-color: #222233;
   border-radius: 8px;
   border: none;
   margin-left: 40px;
}
.buttonLink{
   color: #fff;
   font-size: 14px;
   text-decoration: none;
   font-weight: bold;
}
.navbarMenu{
   width: 26px;
   height: 18px;
   background-color: #fff;
   display: none;
}
.mainContainer{
   margin-top: 120px;
}

.mainHeader{
   font-size: 72px;
   color: #fff;
   font-weight: bold;
   margin-bottom: 16px;
}
.mainText{
   font-size: 24px;
   font-weight: regular;
   color: #88888D;
}
.mainButton{
   margin-top: 32px;
   width: 107px;
   height: 52px;
   background-color: #006ADA;
   color: #fff;
   text-decoration: none;
   font-size: 16px;
   border-radius: 8px;
   border: none;
}
.cards{
   display: flex;
   justify-content: space-around;
   margin-top: 76px;
}
.card{
   width: 386px;
   height: 204px;
   border: none;
   border-radius: 8px;
   background-color: #222233;
   margin-right: 35px;
}
.cardImg{
   margin: 20px 0 4px 20px;
}
.cardTexts{
   margin: 20px;
}
.cardHeader{
   color: #fff;
}
.cardText{
   color: #fff;
}

@media screen and (max-width: 700px) {
   .linksBox{
      display: none;
   }
   .navbarMenu{
      display: block;
      margin-top: 35px;
   }
   .mainContainer{
      margin-top: 90px;
   }
   .mainHeader{
      font-size: 40px;
   }
   .mainText{
      font-size: 16px;
   }
   .mainButton{
      width: 100%;
   }


}