*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   background-color: #12121C;
}
.container{
   width: 90%;
   margin: auto;
}
.navbar{
   display: flex;
   justify-content: space-between;
}